* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e3e3e3;
}

.header-size {
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-size__block-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-size__block-second {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.header-logotype {
  width: 6%;
  transition: all 0.2s ease-in;
}

.header-logotype img {
  width: 100%;
}

.header-logotype:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.header-menu__list {
  display: flex;
  list-style: none;
}

.header-menu__list-item a {
  padding: 1rem;
  color: #242424;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  transition: all 0.2s ease-in;
}

.header-menu__list-item a:hover {
  color: #558076;
  transition: all 0.2s ease-in;
}

.header-user {
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in;
}

.auth-user {
  border-radius: 50%;
}

.header-user:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

/* Слайдер */

.photo-slider {
  position: relative;
}

.photo-slider__text {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.photo-slider__text h1 {
  color: #ffffff;
  font-size: 4rem;
  margin-left: 11%;
  margin-bottom: 1.5rem;
}

.photo-slider__background img {
  width: 100%;
}

.photo-slider__text a {
  text-transform: uppercase;
  padding-left: 1.5rem;
  background: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #242424;
  margin-top: 1.5rem;
  margin-left: 11%;
  transition: all 0.2s ease-in;
}

.photo-slider__text a > i {
  margin-left: 1.5rem;
  padding: 1rem;
  color: #242424 !important;
  background: #eaf3f0;
  transition: all 0.2s ease-in;
}

.photo-slider__text a:hover {
  background: #558076;
  color: #ffffff;
}

.photo-slider__title {
  width: 55%;
}

/* Поможем выбрать чай */

.tea-about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-about__size {
  width: 80%;
}

.tea-about__title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

.tea-about__blocks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-about__block {
  width: 50%;
  position: relative;
}

.tea-about__block-fisrt img {
  width: 70%;
  position: relative;
  left: 8rem;
}

.tea-about__block-second {
  width: 50%;
  background: #fff;
  padding: 1.5rem;
  position: absolute;
}

.tea-about__first-post {
  top: 0;
  left: -4rem;
  border: 2px solid #e3e3e3;
}

.tea-about__second-post {
  bottom: 4px;
  left: -4rem;
  border: 2px solid #e3e3e3;
}

.tea-about__block-link {
  padding: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #242424 !important;
  background: #e3e3e3;
  transition: all 0.2s ease-in;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tea-about__block-link:hover {
  background: #558076;
  transition: all 0.2s ease-in;
  color: #ffffff !important;
}

.tea-about__text {
  width: 80%;
  margin-top: 0.8rem;
}

/* Новинки чая */

.tea-new {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-new__title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

.tea-new__size {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tea-new__blocks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-new__block {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.tea-new__block a:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.tea-new__block img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.tea-new__category {
  color: #c1c1c1;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tea-new__name {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
}

.tea-new__price {
  font-weight: 300;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: #909090;
  margin-bottom: 1rem;
}

.tea-new__in-basket {
  margin-top: auto;
  width: 50%;
  padding: 0.7rem;
  font-weight: 500;
  font-size: 1.1rem;
  background: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.tea-new__in-basket:hover {
  background: #558076;
  transition: all 0.2s ease-in;
}

.tea-new__link {
  transition: all 0.2s ease-in;
}

.tea-new__link:hover {
  opacity: 0.6;
  transition: all 0.2s ease-in;
}

/* Хиты продаж */

.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__size {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

.welcome-blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.welcome-blocks__item {
  width: 460px;
  position: relative;
}

.welcome-blocks__item-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-blocks__item-first img {
  width: 100%;
}

.welcome-blocks__item-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.welcome-blocks__item-title {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.welcome-blocks__item-text {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

/* Footer */

footer {
  margin-top: 4rem;
  width: 100%;
  border-top: 2px solid #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-size {
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu__list {
  display: flex;
  list-style: none;
}

.footer-menu__list-item a {
  padding: 1rem;
  color: #242424;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in;
}

.footer-menu__list-item a:hover {
  color: #558076;
  transition: all 0.2s ease-in;
}

.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-network p {
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
}

.social-network p i {
  margin-right: 0.7rem;
  margin-left: 0.5rem;
}

.insta-footer {
  font-size: 1.3rem !important;
}

.social-network a {
  color: #000000;
  transition: all 0.2s ease-in;
}

.social-network a:hover {
  transition: all 0.2s ease-in;
  color: #558076;
}

.social-network i {
  font-size: 2.5rem;
}

.disable {
  display: none !important;
}

/* Анимации Vue */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

/* Пользователь авторизирован */

.user-auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-auth span {
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
}

.user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-user {
  margin-right: 1rem;
}

.basket-menu__block {
  position: relative;
}

.basket-menu__block img {
  border-left: 1px solid #000000;
  width: 35px;
  padding-left: 1rem;
  transition: all 0.2s ease-in;
}

.basket-menu__block img:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.basket-menu__value {
  position: absolute;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -2px;
  right: 0;
  background: #558076;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem;
  font-size: 0.8rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.modal-menu__button {
  border: 1px solid #558076;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.footer-button {
  display: none !important;
}

/* Адаптация под все устройства */

@media screen and (max-width: 1750px) {
  .welcome-blocks__item-second {
    width: 100% !important;
  }

  .welcome-blocks {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .welcome-blocks__item {
    margin: 2rem;
  }

  .welcome-blocks__item-first {
    width: 100% !important;
  }

  .tea-about__second-post {
    left: 0rem;
  }

  .tea-new__blocks {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1650px) {
  .tea-new__block {
    width: 30%;
    margin: 2rem;
  }
}

@media screen and (max-width: 1400px) {
  .header-menu__list-item a {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1366px) {
  .photo-slider__text h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1360px) {
  .tea-about__block-fisrt img {
    width: 80%;
  }

  .tea-about__first-post {
    left: 0rem;
  }

  .tea-about__second-post {
    left: 4rem;
  }

  .tea-about__block-fisrt img {
    left: 4rem;
  }
}

@media screen and (max-width: 1280px) {
  .header-size__block-first nav {
    display: none;
  }

  .header-size__block-second {
    display: flex;
    margin: 1rem;
  }

  .header-menu__list-item a {
    padding: 1rem;
  }

  .modal-menu__button {
    display: none;
  }
}

@media screen and (max-width: 1152px) {
  .header-size__block-second {
    margin-top: 2rem;
  }

  .footer-size {
    flex-direction: column;
  }

  .social-network {
    margin: 1rem;
  }

  .footer-menu__list {
    margin: 1rem;
  }

  .photo-slider__text h1 {
    font-size: 2.5rem;
  }

  .tea-about__blocks {
    flex-direction: column;
  }

  .tea-about__block {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .tea-about__block-second {
    padding: 1rem;
  }

  .tea-about__second-post {
    left: 18rem;
  }

  .tea-about__first-post {
    left: -4rem;
  }
}

@media screen and (max-width: 1024px) {
  .header-logotype {
    width: 10%;
  }

  .tea-about__block-fisrt img {
    width: 100%;
    left: 0rem;
  }

  .tea-about__second-post {
    left: 19rem;
  }

  .tea-about__first-post {
    left: -7rem;
  }
}

@media screen and (max-width: 900px) {
  .header-menu__list-item a {
    padding: 0.5rem;
  }

  .photo-slider__text h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .photo-slider__text a {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 860px) {
  .header-menu__list-item a {
    padding: 0.5rem;
  }

  .tea-new__block {
    margin: 3rem;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .tea-about__size {
    display: none;
  }

  .tea-new__in-basket {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header-size__block-second nav {
    display: none;
  }

  .tea-new__title {
    margin-bottom: 2rem;
  }

  .modal-menu__button {
    display: flex;
  }

  .photo-slider__text h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .tea-new__block {
    margin: 4rem;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}

@media screen and (max-width: 700px) {
  .photo-slider {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .header-logotype {
    width: 12.5%;
  }
}

@media screen and (max-width: 600px) {
  .footer-menu__list {
    display: none;
  }

  .footer-button {
    display: flex !important;
  }

  .footer-button {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .header-logotype {
    width: 15%;
  }
}

@media screen and (max-width: 500px) {
  .header-logotype {
    width: 17.5%;
  }

  .welcome-blocks__item-text {
    font-size: 1.1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .welcome-blocks__item {
    width: 350px;
    position: relative;
  }

  .tea-new__block {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .header-logotype {
    width: 18%;
  }

  .user-auth span {
    display: none;
  }
}

@media screen and (max-width: 401px) {
  .social-network p {
    justify-content: flex-end;
    text-align: right;
  }

  .social-network a {
    width: 35%;
  }

  .welcome-blocks__item-title {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
  }

  .welcome__title {
    text-align: center;
  }

  .welcome-blocks__item-text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .social-network a {
    width: 38%;
  }
}

@media screen and (max-width: 360px) {
  .social-network a {
    width: 37.5%;
  }
}
